Mar 25 10:00:01 debian sshd[2001]: Failed password for invalid user admin from 185.10.10.1 port 40001 ssh2
Mar 25 10:00:05 debian sshd[2002]: Failed password for root from 185.10.10.1 port 40002 ssh2
Mar 25 10:00:07 debian sshd[2003]: Failed password for invalid user test from 185.10.10.1 port 40003 ssh2
Mar 25 10:01:10 debian sshd[2004]: Failed password for user1 from 203.0.113.77 port 50001 ssh2
Mar 25 10:01:20 debian sshd[2005]: Accepted publickey for user1 from 203.0.113.77 port 50001 ssh2
Mar 25 10:02:00 debian CRON[2100]: pam_unix(cron:session): session opened for user root(uid=0) by root(uid=0)